@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, select, button {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

select, button {
  max-width: 256px;
  background-color: white;
  border: solid black 1px;
  height: 32px;
  border-radius: 8px;
}

#unit-info, #generated-content {
  max-width: 600px;
  border: solid black 1px;
  border-radius: 8px;
  padding: 8px;
}

p {
  margin: 0;
}